.tight-left {
  padding-left: 0px !important;
  padding-top: 1px;
 
}
  
   
 
  .compact-paragraph {
    margin: 2px 0; /* top and bottom margin */
    padding: 0;
    font-size: 14px; /* optional, reduce text size */
  }