.navbar-brand img {
    border-radius: 50%;
  }
  
  .nav-link {
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    
  }
  
  .nav-link.active {
    color: #ffc107 !important;
  }
  
  .btn-outline-light:hover {
    background-color: #ffc107;
    color: #000;
    border-color: #ffc107;
  }
  