<div class="card shadow-sm p-2 mb-1  rounded" style="max-width: 540px;min-height: 100vh; margin: auto; background-color: #d4d4d3;" >
  <div class="card shadow-sm p-3 mb-0 bg-white rounded" style="max-width:400;">

    <div class="text-end mb-1">
      <a [routerLink]="['/worklog']">
        <img src="assets/logo.png" alt="Logo" style="width: 100px; height: auto; cursor: pointer;">
      </a>
    </div>

<div class="container">
  <h3 class="page-title text-start" style="font-weight: bold; font-family: sans-serif;">Leave Approvals</h3>

  <!-- Tabs -->
<div class="tabs">
  <button (click)="selectedTab = 'all'" [class.active]="selectedTab === 'all'" class="tab-button">All</button>
  <button (click)="selectedTab = 'pending'" [class.active]="selectedTab === 'pending'" class="tab-button">Pending</button>
  <button (click)="selectedTab = 'approved'" [class.active]="selectedTab === 'approved'" class="tab-button">Approved</button>
  <button (click)="selectedTab = 'rejected'" [class.active]="selectedTab === 'rejected'" class="tab-button">Rejected</button>
</div>

<!-- Requests List -->
<div class="request-section pt-1">

  <div *ngFor="let request of getRequestsForSelectedTab()" class="request-card">
    <div class="card-header mt-1">
      <h3>{{ request.employeeName }}</h3>
      <span class="status-badge {{ request.status }}">{{ request.status | uppercase }}</span>
    </div>
    <div class="card-body pt-1 pb-1">
      

      <div *ngIf="request.type === 'Leave'">
        <p style="font-weight: bold; font-family: sans-serif;">{{ request.startDate }} to {{ request.endDate }}</p>
      </div>

     
      
      <div *ngIf="request.type === 'Permission'">
        <p style="font-weight: bold; font-family: sans-serif;"> {{ request.startTime }} to {{ request.endTime }}</p>
      </div>

      <p><strong>Request Type:</strong> {{ request.type }}</p>

      <div class="card-header " style="margin-left: 400px; justify-content: center; cursor: pointer;" 
      (click)="viewDetails(request)">
        <i class="fa-solid fa-chevron-right float-end">
        </i>
      </div>
    </div>
    

  </div>
</div>

 

</div>


<!-- Pagination Controls -->
<div class="pagination text-center mt-1">
  <button 
    (click)="currentPage = currentPage - 1" 
    [disabled]="currentPage === 1"
    class="btn btn-outline-primary btn-sm me-1">
    Prev
  </button>

  <span>Page {{currentPage}} of {{getTotalPages()}}</span>

  <button 
    (click)="currentPage = currentPage + 1" 
    [disabled]="currentPage >= getTotalPages()"
    class="btn btn-outline-primary btn-sm ms-1 ">
    Next
  </button>
</div>



  
</div>


</div>