<p>test works!</p>

<form [formGroup]="timeForm" class="time-form">
  <div>
    <label for="startTime">Start Time</label>
    <input 
      type="time" 
      id="startTime" 
      formControlName="startTime"
      [min]="currentTime"
    />
    <div *ngIf="startTime?.touched && startTime?.errors?.['pastTime']" class="error">
      Start time must be after current time ({{ currentTime }})
    </div>
  </div>

  <div>
    <label for="endTime">End Time</label>
    <input 
      type="time" 
      id="endTime" 
      formControlName="endTime"
      [min]="startTime?.value || ''"
      [disabled]="!startTime?.valid"
    />
    <div *ngIf="endTime?.touched && endTime?.errors?.['beforeStartTime']" class="error">
      End time must be after start time
    </div>
  </div>
</form>
