.btn-more {
  background-color: #CEA763 !important;
  color: black !important;
  border: none !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 0.85rem;
}

.btn-more:hover {
  background-color: #EFDFA1 !important;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.btn-more-alt {
  background-color: #FFB309 !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
  /* No hover effect */
}
