.container {
  
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
  }
  
  .header h1 {
    color: #3f51b5;
    text-align: center;
  }
  
  .datetime {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .timing-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .start-btn,
  .end-btn,
  .submit-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 14px;
  }
  
  .start-btn {
    background-color: #4caf50;
  }
  
  .end-btn {
    background-color: #f44336;
  }
  
  .submit-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #3f51b5;
  }
  .chart-container {
    height: 250px;
    position: relative;
  }

 .btn-apply {
  background-color: #CEA763 !important;
  color: black !important;
  border: none !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-apply:hover {
  background-color: #EFDFA1 !important;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-print-report {
  background-color: #CEA763 !important;
  color: black !important;
  border: none !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

.btn-print-report:hover {
  background-color: #EFDFA1 !important;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.admin-badge {
  background-color: #CEA763;
  color: #000;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 10;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-loader i {
  font-size: 80px;
  color: #CEA763;
  animation: self-rotate 2s linear infinite;
}

@keyframes self-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
   