<div class="layout-container">
    <div class="sidebar">
      <div class="sidebar-header">
        <img src="asset/logo.png" alt="Logo" class="logo" />
        <h2>Dashboard</h2>
      </div>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
            <i class="fas fa-tachometer-alt"></i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/worklog" routerLinkActive="active" class="menu-item">
            <i class="fas fa-file-alt"></i> Work Log
          </a>
        </li>
        <li>
          <a routerLink="/leave" routerLinkActive="active" class="menu-item">
            <i class="fas fa-calendar-day"></i> Leave
          </a>
        </li>
      </ul>
    </div>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  