/* Wrapper */
#wrapper {
    display: flex;
  }
  .btn {
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: white;
    border: blueviolet;
    border-width: 2px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
  
  }
  
  .btn:hover {
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    color: white;
  }
  
  /* Sidebar */
  .navbar{
    background-color: #008080;
    color: white;
    width: 100%;
    height: 100px;
    font-size: large;
    font-weight: bold;
  }
  
  .center-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;
    width: 100%;
    
  }
  
  .logo {
    width:fit-content ;
    height:75px;
  
  }
  
  #sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: all 0.3s;
   
  }
  
  #page-content-wrapper {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: all 0.3s;
    align-content: center;
    align-items: center;
    
  }
  
  .toggled #sidebar-wrapper {
    margin-left: -250px;
  }
  
  .toggled #page-content-wrapper {
    margin-left: 0;
  }
  
  /* Sidebar Links */
  .list-group-item {
    transition: 0.3s;
  }
  
  .list-group-item:hover {
    background-color: rgba(241, 236, 236, 0.648);
  }
  
  /* Cards */
  
  
  .card:hover {
    animation: blink 0.3s ease-in-out infinite alternate;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Keep existing styles */
  .card {
    border-radius: 12px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    height: 150px;
    justify-content: center;
    
  }
  
  .card i {
    opacity: 0.8;
  }
  