<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark text-white" id="sidebar-wrapper">
      <div class="sidebar-heading d-flex align-items-center justify-content-center gap-2 p-4 primary-text fs-4 fw-bold border-bottom">
        <i class="fa-solid fa-user-tie fa-2x"></i>
        <span>Employee Dashboard</span>
      </div>
      <div class="list-group list-group-flush my-3">
        <a routerLink='/dashboard' class="list-group-item list-group-item-action bg-dark text-white fw-bold">
          <i class="fa-solid fa-calendar-plus"></i> DashBoard
        </a>
        
      <a routerLink="/worklog" class="list-group-item list-group-item-action bg-dark text-white fw-bold">
          <i class="fa-solid fa-calendar-plus"></i> Work Log
        </a>
        <a routerLink="/leave" class="list-group-item list-group-item-action bg-dark text-white fw-bold">
          <i class="fa-solid fa-file-pen"></i> Leave Request
        </a>
        <a routerLink="/status" class="list-group-item list-group-item-action bg-dark text-white fw-bold">
          <i class="fa-solid fa-user-plus"></i> Leave Status
        </a>
        <a routerLink="/notification" class="list-group-item list-group-item-action bg-dark text-white fw-bold">
          <i class="fa-solid fa-user-plus"></i> Notification
        </a>
      </div>
    </div>
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-custom border-bottom px-3">
        <div class="center-content">
          <a>
            <img src="asset/logo.png" alt="Logo" class="logo"> 
          </a>
        </div>
        <button class="btn " (click)="logout()">Logout</button>
      </nav>
  
      <div class="container mt-4">
        <h2 class="fw-bold">Dashboard</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-primary text-white shadow">
              <div class="card-body d-flex justify-content-between">
                <div>
                  <h5>Welcome to {{ userEmail }}</h5>
                  <h5>📅 Date: {{ currentDate }}</h5>
                  <h5>⏰ Time: {{ currentTime }}</h5>
                </div>
                <i class="fa-solid fa-user-check fa-3x mt-3 "></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-success text-white shadow">
              <div class="card-body d-flex justify-content-between">
                <div>
                  <h5>Today Working Hours</h5>
                  <h3>{{ totalDurationToday  }}</h3>
                </div>
                <i class="fa-solid fa-hourglass-half fa-3x"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-warning text-white shadow">
              <div class="card-body d-flex justify-content-between">
                <div>
                  <h5>Total Working Hours</h5>
                  <h3>{{ totalDurationOverall  }}</h3>
                </div>
                <i class="fa-solid fa-clock fa-3x"></i>
              </div>
            </div>
          </div>
        </div>              
      </div>
    </div>
  </div>
  