<div class="card shadow-sm p-2 mb-3 rounded" style="max-width: 540px;min-height: 100vh; margin: auto; background-color: #d4d4d3;">
    <!-- Inner White Card -->
    <div class="card shadow-sm p-3 mb-1 bg-white rounded" style="height: 675px; overflow-y: auto;">

         <!-- Logo -->
      <div class="text-end mb-2">
        <a [routerLink]="['/worklog']">
          <img src="assets/logo.png" alt="Logo" style="width: 100px; height: auto; cursor: pointer;">
        </a>
      </div>

      <h4 class="text-start ">hi {{ userName | titlecase }}</h4>

     
      <div class="d-flex justify-content-center my-3">
        <div class="rounded-circle bg-secondary text-white overflow-hidden d-flex justify-content-center align-items-center"
             style="width: 200px; height: 200px;" title="Click to upload/remove profile picture">
      
          <ng-container *ngIf="profileImageUrl && profileImageUrl !== 'assets/default-user.png'; else showInitials">
            <img [src]="profileImageUrl" alt="Profile" class="profile-img">
          </ng-container>
      
          <ng-template #showInitials>
            <span class="initials-span">{{ userInitials }}</span>
          </ng-template>
        </div>
      </div>
      

 

    <p><strong>Email:</strong> {{ user?.email }}</p>


  </div>
</div>
  